/* * {
  border: 2px dashed red;
} */

.hidden {
  display: none;
}
.finalHidden {
  display: none;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
}
#imgDice {
  height: auto;
  max-width: 50%;
  margin-bottom: 20%;
}